<div class="container my-5">
    <div class="row my-5">
        <div class="col-md-7 text-center">
            <img src="assets/bg-login.jpg" class="thumbnail" width="100%" alt="">
        </div>
        <div class="col-md-5">
            <h1 class="text-center"> SIGN UP </h1>

            <div class="form-group">
                <label for=""></label>
                <div class="input-group mb-3 border border-dark border-left-0 border-top-0 border-right-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i> </span>
                    </div>
                    <input type="text" class="shadow-none form-control border border-white" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    <small id="helpId" class="form-text text-muted"></small>

                </div>
            </div>
            <div class="form-group">
                <label for=""></label>
                <div class="input-group mb-3 border border-dark border-left-0 border-top-0 border-right-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i> </span>
                    </div>
                    <input type="text" class="shadow-none form-control border border-white" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                    <small id="helpId" class="form-text text-muted"></small>

                </div>
            </div>
            <div class="form-group">
                <label for=""></label>
                <div class="input-group mb-3 border border-dark border-left-0 border-top-0 border-right-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i> </span>
                    </div>
                    <input type="password" class="shadow-none form-control  border border-white" name="" id="" placeholder="Password">
                    <small id="helpId" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="form-group">
                <label for=""></label>
                <div class="input-group mb-3 border border-dark border-left-0 border-top-0 border-right-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i> </span>
                    </div>
                    <input type="password" class="shadow-none form-control  border border-white" name="" id="" placeholder="Confirm Password">
                    <small id="helpId" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="form-group mt-4">
                <input type="button" class="btn btn-success form-control" value="Sign Up">
            </div>
        </div>
    </div>

</div>