<div class="container my-5">
    <div class="row my-5">
        <div class="col-md-7 text-center">
            <img src="assets/bg-login.jpg" class="thumbnail" width="100%" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="text-center"> LOGIN </h3>

            <div class="form-group">
                <label for=""></label>
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-user fa-2x text-secondary" aria-hidden="true"></i> </span>
                    </div>
                    <input type="text" class="shadow-none form-control border border-dark border-left-0 border-top-0 border-right-0" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    <small id="helpId" class="form-text text-muted"></small>

                </div>
            </div>

            <div class="form-group">
                <label for=""></label>
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-lock fa-2x text-secondary" aria-hidden="true"></i> </span>
                    </div>
                    <input type="password" class="shadow-none form-control  border border-dark border-left-0 border-top-0 border-right-0" name="" id="" placeholder="Password">
                    <small id="helpId" class="form-text text-muted"></small>

                </div>
            </div>
            <div class="form-group mx-3 mt-4">
                <span> Don't have a account ? <a routerLink="/sign-up" > Sign up</a> </span>
            </div>
            <div class="form-group mt-4">
                <input type="button" class="btn btn-success form-control" value="Login">
            </div>
            <h4 class="text-center">Or</h4>
            <div class="form-group mt-4 text-center">
                <button class="btn btn-primary mx-2 "><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</button>
                <button class="btn btn-danger mx-2"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
                <button class="btn btn-info mx-2"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button>
            </div>

        </div>
    </div>


</div>