<div class="card border-primary">
    <h1>User</h1>
    <div class="card-body">
        <p class="card-text">User ID: {{ result?.id }} </p>

        <p class="card-text">Name: {{ result?.name }}</p>

        <p class="card-text">UserName: {{ result?.username }}</p>

        <p class="card-text">Email: {{ result?.email }}</p>

        <p class="card-text">Phone: {{ result?.phone }}</p>

        <p class="card-text">Address: {{ result?.address.street }} Street, {{ result?.address.city }} City </p>
        <p class="card-text">Web: {{ result?.website }}</p>


    </div>
</div>